.form {
  margin: 1% 0 0 1%;
}

.input-form {
  margin: 10px 0;
}

.title {
  font-size: large;
  font-weight: bold;
}

.sub-title {
  font-size: medium;
  font-style: italic;
}

.text-label {
  margin-right: 1%;
}
